/*------------------*
 * Global variables *
 *------------------*/
/*
// Dimensions.
$icon-size: 10em !default;
$icon-box-size: $icon-size * 1.44 !default;

// Borders.
$b-icon: 20% !default;

// Colours.
$c-blue-500: #82d2e0 !default;
$c-grass-green-500: #789a20 !default;
$c-green-500: #56b68b !default;
$c-pink-500: #e5186f !default;
$c-purple-500: #401140 !default;
$c-red-500: #d6100e !default;
$c-teal-500: #49c4a0 !default;
$c-teal-700: #20a38c !default;
$c-white-500: #f5f3f1 !default;
$c-yellow-500: #edb724 !default;

$c-text-dark: #333 !default;
$c-text-light: #f5f5f5 !default;
$c-text-primary: #5c3a58 !default;

// Font sizes.
$f-size-title: $icon-size * 0.4 !default;
$f-size-main: 1.12em !default;
$f-size-note: 0.92em !default;

// Spacing.
$s-dialog-h: 1.5em !default;
$s-element-max: 13em !default;
$s-row: 15em !default;*/

/*--------*
 * Styles *
 *--------*/
/**,
*::before,
*::after {
  box-sizing: border-box;
}*/
/*
body {
  align-items: center;
  background: linear-gradient(-135deg, #efefef, #ccc);
  background-size: cover;
  color: #222;
  display: flex;
  flex-direction: column;
  font-family: "Lato", sans-serif;
  justify-content: center;
  min-height: 100vh;
  overflow-x: hidden;

  // Background "curtain"
  &:before {
    background: linear-gradient(to bottom, $c-white-500 10%, transparent);
    content: "";
    display: block;
    height: 100%;
    left: 0;
    opacity: 0.82;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -1;
  }
}*/

.icon {
  border-radius: $b-icon;
  height: $icon-size;
  margin: 3em;
  opacity: 0.9;
  overflow: hidden;
  // We need this for absolute positioning of title.
  position: relative;
  width: $icon-size;
  animation: 2s ease-out infinite movie-pulse;

  > .box-wrapper {
    display: flex;
    flex-wrap: wrap;
    height: $icon-box-size;
    left: -($icon-box-size - $icon-size) / 2;
    position: absolute;
    top: -($icon-box-size - $icon-size) / 2;
    transform: rotateZ(-19deg);
    width: $icon-box-size;

    > .box {
      height: $icon-box-size / 3;
      width: $icon-box-size / 3;

      &:nth-of-type(9n + 1) {
        background-color: $c-teal-700;
      }
      &:nth-of-type(9n + 2) {
        background-color: $c-blue-500;
      }
      &:nth-of-type(9n + 3) {
        background-color: $c-grass-green-500;
      }
      &:nth-of-type(9n + 4) {
        background-color: $c-teal-500;
      }
      &:nth-of-type(9n + 5) {
        background-color: $c-white-500;
      }
      &:nth-of-type(9n + 6) {
        background-color: $c-yellow-500;
      }
      &:nth-of-type(9n + 7) {
        background-color: $c-purple-500;
      }
      &:nth-of-type(9n + 8) {
        background-color: $c-pink-500;
      }
      &:nth-of-type(9n + 9) {
        background-color: $c-red-500;
      }
    }
  }

  > .title-wrapper {
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: center;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;

    > .letter {
      color: $c-text-primary;
      font-size: $f-size-title;
      font-weight: 900;
      text-transform: uppercase;
    }
  }
}

// Displays the response message to the user.
.status {
  display: flex;
  flex-direction: column;
  justify-content: center;
  line-height: 1.3;
  max-width: calc(100% - #{$s-dialog-h * 2});
  // Be at least 2 rows tall.
  min-height: 2em * 1.3;
  text-align: center;
}

// Contains the main interface.
.dialog {
  background-color: rgba(#000, 0.35);
  border-radius: 8px;
  margin: 1.5em auto;
  max-width: 600px;
  padding: 1em $s-dialog-h;
  width: calc(100% - #{$s-dialog-h * 2});

  > .row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto 0.5em;
    max-width: 100%;
    width: $s-row;

    @media screen and (min-width: $s-row + ($s-dialog-h * 4)) {
      width: auto;
    }

    > form {
      max-width: 100%;
      text-align: center;
      width: 100%;
    }

    &.note {
      color: $c-text-light;
      font-size: $f-size-note;
      line-height: 1.3;
    }
  }
}

button.primary {
  background-color: $c-green-500;
  border: none;
  border-radius: 4px;
  color: $c-white-500;
  cursor: pointer;
  font-family: "Lato", sans-serif;
  font-size: $f-size-main;
  font-weight: 700;
  margin: 0.5em 0;
  max-width: 100%;
  min-height: 48px;
  padding: 0 0.8em;
  text-transform: capitalize;
  width: 100%;
  word-break: break-word;

  @media screen and (min-width: $s-row + ($s-dialog-h * 4)) {
    margin: 0.5em;
    max-width: $s-element-max;
  }

  &:hover {
    opacity: 0.8;
  }
}

input.primary {
  border: 1px solid #c5c5c5;
  border-radius: 6px;
  color: $c-text-dark;
  font-family: "Lato", sans-serif;
  font-size: $f-size-main;
  margin: 0.5em 0;
  max-width: 100%;
  min-height: 48px;
  padding: 0 0.8em;
  width: 100%;
  word-break: break-word;

  @media screen and (min-width: $s-row + ($s-dialog-h * 4)) {
    margin: 0.5em;
    max-width: $s-element-max;
  }
}

b {
  font-weight: 900;
}

/*------------*
 * Animations *
 *------------*/
@keyframes movie-pulse {
  0%,
  80% {
    transform: scale(1);
  }
  40% {
    transform: scale(1.12);
  }
}
/*------------------*
 * Global variables *
 *------------------*/
/*--------*
 * Styles *
 *--------*/
/**, *::before, *::after {
  box-sizing: border-box;
}

body {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: -webkit-linear-gradient(225deg, #efefef, #ccc);
  background: linear-gradient(-135deg, #efefef, #ccc);
  background-size: cover;
  color: #222;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: 'Lato', sans-serif;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: 100vh;
  overflow-x: hidden;
}
body:before {
  background: -webkit-linear-gradient(top, #f5f3f1 10%, transparent);
  background: linear-gradient(to bottom, #f5f3f1 10%, transparent);
  content: '';
  display: block;
  height: 100%;
  left: 0;
  opacity: .82;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -1;
}*/

.icon {
  border-radius: 20%;
  height: 10em;
  margin: 3em;
  opacity: .9;
  overflow: hidden;
  position: relative;
  width: 10em;
  -webkit-animation: 2s ease-out infinite movie-pulse;
          animation: 2s ease-out infinite movie-pulse;
}
.icon > .box-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  height: 14.4em;
  left: -2.2em;
  position: absolute;
  top: -2.2em;
  -webkit-transform: rotateZ(-19deg);
          transform: rotateZ(-19deg);
  width: 14.4em;
}
.icon > .box-wrapper > .box {
  height: 4.8em;
  width: 4.8em;
}
.icon > .box-wrapper > .box:nth-of-type(9n + 1) {
  background-color: #20a38c;
}
.icon > .box-wrapper > .box:nth-of-type(9n + 2) {
  background-color: #82d2e0;
}
.icon > .box-wrapper > .box:nth-of-type(9n + 3) {
  background-color: #789a20;
}
.icon > .box-wrapper > .box:nth-of-type(9n + 4) {
  background-color: #49c4a0;
}
.icon > .box-wrapper > .box:nth-of-type(9n + 5) {
  background-color: #f5f3f1;
}
.icon > .box-wrapper > .box:nth-of-type(9n + 6) {
  background-color: #edb724;
}
.icon > .box-wrapper > .box:nth-of-type(9n + 7) {
  background-color: #401140;
}
.icon > .box-wrapper > .box:nth-of-type(9n + 8) {
  background-color: #e5186f;
}
.icon > .box-wrapper > .box:nth-of-type(9n + 9) {
  background-color: #d6100e;
}
.icon > .title-wrapper {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}
.icon > .title-wrapper > .letter {
  color: #5c3a58;
  font-size: 4em;
  font-weight: 900;
  text-transform: uppercase;
}

.status {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  line-height: 1.3;
  max-width: calc(100% - 3em);
  min-height: 2.6em;
  text-align: center;
}

.dialog {
  background-color: rgba(0, 0, 0, 0.35);
  border-radius: 8px;
  margin: 1.5em auto;
  max-width: 600px;
  padding: 1em 1.5em;
  width: calc(100% - 3em);
}
.dialog > .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto .5em;
  max-width: 100%;
  width: 15em;
}
@media screen and (min-width: 21em) {
  .dialog > .row {
    width: auto;
  }
}
.dialog > .row > form {
  max-width: 100%;
  text-align: center;
  width: 100%;
}
.dialog > .row.note {
  color: #f5f5f5;
  font-size: 0.92em;
  line-height: 1.3;
}

button.primary {
  background-color: #56b68b;
  border: none;
  border-radius: 4px;
  color: #f5f3f1;
  cursor: pointer;
  font-family: 'Lato', sans-serif;
  font-size: 1.12em;
  font-weight: 700;
  margin: .5em 0;
  max-width: 100%;
  min-height: 48px;
  padding: 0 .8em;
  text-transform: capitalize;
  width: 100%;
  word-break: break-word;
}
@media screen and (min-width: 21em) {
  button.primary {
    margin: .5em;
    max-width: 13em;
  }
}
button.primary:hover {
  opacity: .8;
}

input.primary {
  border: 1px solid #c5c5c5;
  border-radius: 6px;
  color: #333;
  font-family: 'Lato', sans-serif;
  font-size: 1.12em;
  margin: .5em 0;
  max-width: 100%;
  min-height: 48px;
  padding: 0 .8em;
  width: 100%;
  word-break: break-word;
}
@media screen and (min-width: 21em) {
  input.primary {
    margin: .5em;
    max-width: 13em;
  }
}

b {
  font-weight: 900;
}

/*------------*
 * Animations *
 *------------*/
@-webkit-keyframes movie-pulse {
  0%, 80% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  40% {
    -webkit-transform: scale(1.12);
            transform: scale(1.12);
  }
}
@keyframes movie-pulse {
  0%, 80% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  40% {
    -webkit-transform: scale(1.12);
            transform: scale(1.12);
  }
}
